.footer-wrapper {
    position: sticky;
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    margin: 23px 102px 47px 0;
}

.email {
    display: flex;
    align-items: center;
    margin-right: 44px;
}

.email_link {
    margin-right: 5px;
    text-align: center;
}

.email-text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
}

.email_image {

}

.phone {
    display: flex;
    align-items: center;
    margin-right: 43px;
}

.phone_link {
    margin-right: 4px;
}

.phone-number {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
.phone_image {

}

.web_site {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    margin-right: 103px;
    color: #000000;
}

.social-footer {

}

.footer_social_link {

}

.footer-social__img {

}

@media (max-width: 380px) {
    .footer-wrapper {
        padding: 24px 32px 25px 35px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 48px;

    }

    .footer-logo {
        order: 1;
        margin: 0 0;
        text-align: center;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .email {
        margin-right: 0;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .email-text {
        font-size: 14px;
        line-height: 19px;
    }

    .email_image {
        width: 20px;
    }

    .phone {
        margin-right: 0;
        grid-row: 2/3;
        grid-column: 2/3;
    }


    .phone-number{
        font-size: 14px;
        line-height: 19px;
    }
    .phone_image {
        width: 20px;
    }

    .web_site {
        font-size: 14px;
        line-height: 19px;
        margin-right: 0;
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .social-footer {
        text-align: center;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .footer_social_link {

    }

    .footer-social__img {
        width: 25px;
    }
}