@import "fonts.css";
@import "reset.css";
@import "footer.css";
@import "header.css";

.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/back/left.png") left 108px no-repeat, url("../images/back/right.png") right 77px no-repeat;
}

.content {
    z-index: 2;
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1144px;
    margin: 0 auto;
}

@media (max-width: 380px) {
    .page-wrapper {
        background: #FFFFFF;;
    }

    .container {
        max-width: 356px;
    }
}
