* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

