.model-chicago-wrapper {

}

.model-chicago {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.model-chicago-left {
    margin-top: 96px;
}

.model-img {
    border: 1px solid #EDEDED;
}

.model-chicago-right {
    margin-left: 86px;
    margin-top: 172px;
}

.model-tina-wrapper {

}

.model-tina {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.model-tina-right {
    margin-top: 100px;
    margin-left: 188px;
}

.model-tina-left {
    margin-top: 226px;
}

.model-melina-wrapper {
}

.model-melina {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.model-melina-left {
    margin-top: 100px;
    margin-right: 86px;
}

.model-melina-right {
    margin-top: 233px;
}

.model-heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
}

.model-text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #414141;
}

.model-text__img {
    vertical-align: middle;
}

.model-promo {
    margin-top: 83px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.model-code {
    margin-top: 5px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #000000;
}

.model-button {
    border: 3px solid #000000;
    margin-top: 20px;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #313131;
    padding: 22px 36px;
}

@media (max-width: 380px) {
    .model-chicago {
        display: flex;
        flex-direction: column;
        row-gap: 34px;
    }

    .model-chicago-left {
        text-align: center;
        margin-top: 68px;
    }

    .model-chicago-right {
        text-align: center;
        margin-left: 0;
        margin-top: 0;
    }

    .model-tina {
        display: flex;
        flex-direction: column;
        row-gap: 38px;
    }

    .model-tina-right {
        text-align: center;
        order: 1;
        margin-top: 103px;
        margin-left: 0;
    }

    .model-tina-left {
        text-align: center;
        order: 2;
        margin-top: 0;
    }

    .model-melina {
        display: flex;
        flex-direction: column;
        row-gap: 38px;
    }

    .model-melina-left {
        margin-top: 123px;
        margin-right: 0;
        text-align: center;
    }

    .model-melina-right {
        margin-top: 0;
        text-align: center;
    }

    .model-text {
        margin-top: 19px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }

    .model-text__img {
        width: 23px;
    }

    .model-promo {
        margin-top: 22px;
    }

    .model-button {
        font-size: 18px;
        line-height: 25px;
    }
}