.sale-wrapper {
    text-align: center;
    margin: 73px 10px 0 10px;
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
}

.sale {
    text-align: center;
    padding: 66px 192px;
}

.sale-heading {
    color: #F59BAF;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

.sale-text {
    margin-top: 10px;
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}

.sale-button {
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #313131;
    padding: 22px 110px;
    border: 3px solid #000000;
}

@media (max-width: 380px) {
    .sale-wrapper {
        margin-top: 43px;
    }

    .sale {
        padding: 48px 11px 60px 6px;
    }

    .sale-heading {
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
    }

    .sale-text {
        margin-top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .sale-button {
        font-size: 22px;
        line-height: 30px;
        padding: 20px 77px;
        margin-bottom: 60px;
    }
}